# Тяжёлые статические ассеты RTP — не трогаем, не коммитим (экономим объём репо)
/img/
/audio/
/fonts/
/icon/

# Сохранения и временные файлы плейтеста
/save/
*.rmmzsave
/.tmp/

# OS
Thumbs.db
desktop.ini
.DS_Store
